/*Variáveis*/
:root{
--cor-principal: #FFC300;
--cor-fundo: 	#000000;
--cor-fonte:#ffffff;
--cor-sombra: rgba(255, 255, 255, 0.15);
}




/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--cor-fonte);
}

body{
  background-color: var(--cor-fundo);
}

